<!DOCTYPE html>
<html>

<div th:replace="fragments/patterns/commonUse :: head"></div>

<body>

<div th:replace="fragments/patterns/commonUse :: navigationBar"></div>

<main>
    <div th:replace="fragments/components/contents :: heading(text='The account is created')"></div>

    <section class="container w-25">
        <div class="row">
            <div class="col text-center">
                <div th:replace="fragments/components/buttons :: linkButton(link='/',buttonText='Return to startpage')"></div>
            </div>
        </div>
    </section>

</main>

</body>

<div th:replace="fragments/patterns/commonUse :: footer"></div>

</body>
</html>