<!DOCTYPE html>
<html lang="en">

<div th:replace="fragments/patterns/commonUse :: head"></div>

<body>

<div th:replace="fragments/patterns/commonUse :: navigationBar"></div>

<main>
    <div th:replace="fragments/components/contents :: heading(text='Overview')"></div>

    <article class="container w-25 text-center font-weight-bold text-white">
        <p th:text="'Rocketname: ' + ${missionToBook.getRocketName()}"></p>
        <p th:text="'Starting place: ' + ${missionToBook.getStartingPlace()}"></p>
        <p th:text="'Target planet: ' + ${missionToBook.getTargetPlanet()}"></p>
        <p>Amount: 1</p>
        <p th:text="'Price: ' + ${missionToBook.getTicketPrice()}"></p>
    </article>

    <section class="container w-25">
        <div class="row">
            <div class="col text-center">
                <div th:replace="fragments/components/buttons :: postButton(id=${missionToBook.getId()}, link='./orders-completed', buttonText='Complete order')"></div>
            </div>
        </div>
    </section>

</main>

<div th:replace="fragments/patterns/commonUse :: footer"></div>

</body>
</html>